<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>AIOT邊緣智慧監控系統</title>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
        <link href="static/css/default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
    </head>

    <body>
        <div class="index">
            <h1 align="center"><a href="http://site-2031560-4364-3167.mystrikingly.com/" >THE THIRD EYE</a></h1>
            {% block content %}
            <form action="\camera" method="post" align="center">
                {% csrf_token %}
                <font color="white">請輸入名稱:</font><input type="text" name="name"><br>
                <input type="submit" value="確定" class="btn show-new-item">
                <input type="reset" value="取消" class="btn show-new-item">
            </form>
            {% endblock %}

        </div>

    </body>
</html>